.wrapper.wrapper-full-page { background-color: #afafaf;min-height: 93.5vh;height: initial !important;}
 .card{ -webkit-box-shadow: 0 25px 30px -13px rgba(40,40,40,.4)!important; box-shadow: 0 25px 30px -13px rgba(40,40,40,.4)!important; border-radius: 10px!important; padding-top: 30px!important; padding-bottom: 30px!important; -webkit-transform: translateZ(0)!important; -ms-transform: translateZ(0)!important; transform: translateZ(0)!important; background-color: #fff!important; margin: 50px 0!important;}
.card .control-label{font-weight: 400!important;color: #444!important;}
.card .required , .card .content .form-group span{color: red !important;}
.card .content .form-group span{font-size: 10px;}
.card .header.text-center{margin-bottom: 30px;}
.navbar-primary {margin-bottom: 0px !important;background-color: #afafaf !important;}
.navbar-header a.navbar-brand{color: #ffffff;font-weight: 700;font-size: 30px;}
.card .content .form-control{margin-bottom: 5px !important;}
.navbar-header > a.navbar-brand { color: #777;}
body .sidebar .logo a.logo-mini img {width: 200px;}
body div.logo {border-bottom: none !important;}
.logo-login img {width: 200px;}
.ReactTable .-pagination .-btn { height: auto; }
.imgDatatable_react img { height: 30px; width: 50px; }
.mb-20 { margin-bottom: 20px; }
button.btn.btn-primary.mb-20 {margin: 20px 0px 10px 0px;}
.font-icon-detail { padding: 10px; border: 1px solid; margin: 10px;}
.Modal-modal-0-1-3{max-width:1100px !important;}
.actionWapper button.btn-fill {
    margin-left: 4px;
}
button.btn.btn-info.btn-fill a {color: #fff;}

.Modal-modal-0-1-3{width: 100%;}
.Modal-modal-0-1-3 table {width: 100%;border: 0;}
.Modal-modal-0-1-3 table {width: 100%;border: 0;max-width: 400px;margin: 0 auto;}
.Modal-modal-0-1-3 h2 {text-align: center;}
.Modal-modal-0-1-3 table form#stockCar div {display: inline-block;width: 50%;margin: 30px 0px;}
.Modal-modal-0-1-3 table form#stockCar input.btn.btn-primary {text-align: center;float: inherit;font-size: 22px;display: block;}
.Modal-modal-0-1-3 table form#stockCar {border: 1px solid #ddd;padding: 30px;}

.c013{width: 100%;}
.c013 table { width: 100%;border: 0;}
.c013 table {width: 100%;border: 0;max-width: 400px;margin: 0 auto;}
.c013 h2 { text-align:center;font-weight: 900;text-transform: uppercase;font-size: 20px;color: #03a9f4;}
.c013 table form#stockCar div {display: inline-block;width: 50%; margin: 30px 0px;}
.c013 table form#stockCar input.btn.btn-primary {text-align: center;float: inherit;font-size: 22px;display: block;}
.c013 table form#stockCar {border: 1px solid #ddd;padding: 30px;}